* {
    font-family: Arial;
}

body {
    background-image: url(/images/creditsCover.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
}

.mainbox {
    width: 600px;
    height: 500px;
    border: 0px transparent;
    border-radius: 20px;
    background: mediumorchid;
    position: relative;
    top: 20px;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.mainbox:hover {
    background: darkorchid;
    transform: scale(1.1);
}

h1, p, a {
    text-align: center;
    color: white;
}

.footer {
    width: 400px;
    height: 60px;
    background: mediumorchid;
    border-radius: 20px;

    position: relative;
    top: 210px;
    left: 60px;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.footer:hover {
    background: darkorchid;
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white;
    font-size: larger;
    position: relative;
    left: 110px;
    top: 18px;
}