* {
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;

    background-image: url(/images/socialCover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.socialBox {
    width: 680px;
    height: 80px;
    background: darkred;
    border-radius: 20px;

    position: relative;
    top: 64px;
    left: 680px;

    transition-property: all;
    transition-duration: .3s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.socialBox:hover {
    transform: scale(1.05);
}

.instagramLink {
    position: relative;
    top: 15px;
    left: 40px;
}

.instagramImage {
    transition-property: all;
    transition-duration: .3s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.instagramImage:hover {
    transform: scale(1.1);
}

.facebookLink {
    position: relative;
    top: 15px;
    left: 80px;
}

.facebookImage {
    transition-property: all;
    transition-duration: .3s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.facebookImage:hover {
    transform: scale(1.1);
}

.githubLink {
    position: relative;
    top: 15px;
    left: 120px;
}

.githubImage {
    transition-property: all;
    transition-duration: .3s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.githubImage:hover {
    transform: scale(1.1);
}

.steamLink {
    position: relative;
    top: 15px;
    left: 160px;
}

.steamImage {
    transition-property: all;
    transition-duration: .3s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.steamImage:hover {
    transform: scale(1.1);
}

.sololearnLink {
    position: relative;
    top: 15px;
    left: 200px;
}

.sololearnImage {
    transition-property: all;
    transition-duration: .3s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.sololearnImage:hover {
    transform: scale(1.1);
}

.redditLink {
    position: relative;
    top: 15px;
    left: 240px;
}

.redditImage {
    transition-property: all;
    transition-duration: .3s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.redditImage:hover {
    transform: scale(1.1);
}

.spotifyLink {
    position: relative;
    top: 15px;
    left: 280px;
}

.spotifyImage {
    transition-property: all;
    transition-duration: .3s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.spotifyImage:hover {
    transform: scale(1.1);
}

.navbackSocial {
    width: 680px;
    height: 64px;
    background: darkred;

    position: relative;
    top: 12em;
    border-radius: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    transition-property: all;
    transition-duration: .3s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.navbackSocial:hover {
    transform: scale(1.1);
}

.hoverbackSocial {
    text-decoration: none;
    color: white;
    font-size: larger;
    position: relative;
    top: 18px;
}